        * {
            box-sizing: border-box;
            margin: 0;
        }
        
        body {
            overflow: hidden;
        }
        
        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: linear-gradient(#2c3e50, #3498db);
            height: 10vh;
        }
        
        .logo {
            height: 80px;
            width: 100px;
            border-radius: 10px;
        }
        
        nav ul {
            width: 70vh;
            display: flex;
            justify-content: space-around;
        }
        
        nav ul button {
            margin-right: 1rem;
            font-size: 2rem;
            background-color: transparent;
            /* background: linear-gradient(#2c3e50, #3498db); */
            padding: 0.5rem 2.5rem 0.5rem 2.5rem;
            border-radius: 15px;
            color: white;
        }
        
        nav ul button:hover {
            background: linear-gradient(#a73737, #7a2828);
        }
        
        section {
            background: url('java.png') no-repeat center;
            height: 94%;
            background-size: 50%;
        }
        
        .contenu {
            background-image: url("ges.jpg");
            /* background-color: rgba(0, 0, 0, 0.5); */
            background-size: cover;
            width: 100%;
            height: 90vh;
            display: flex;
            padding-left: 2em;
            background-position: center;
            opacity: .8;
        }
        
        .colonne {
            width: 20%;
            height: 82vh;
            overflow-y: auto;
            margin: 1rem;
            border-radius: 15px;
        }
        
        .titre {
            text-align: center;
            font-size: 2rem;
            display: flex;
            justify-content: space-around;
        }
        
        .titreForm {
            background-color: rgb(117, 68, 68);
            height: 7vh;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: .8em;
            padding: 1rem;
        }
        
        span {
            font-size: 1em;
            border: 2px solid white;
            padding: 0.5rem;
            background-color: red;
            cursor: pointer;
        }
        
        .modalContenur {
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 4;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            visibility: hidden;
            transform: translateY(-100%);
        }
        
        .modale {
            width: 30%;
            background-color: azure;
            position: fixed;
            top: 15%;
            height: 80vh;
            border-radius: 15px;
            left: 35%;
            border: 2px solid gray;
            border-radius: 15px;
        }
        
        .modale p {
            font-size: 1.2rem;
            text-align: center;
            font-weight: 500;
        }
        
        .corps {
            display: flex;
            flex-direction: column;
            height: 60vh;
            background-color: white;
            width: 95%;
            margin: 1rem;
        }
        
        .form-controle {
            width: 100%;
            margin-top: 1em;
        }
        
        label {
            font-size: 1.5em;
        }
        
        textarea {
            width: 100%;
            height: 10vh;
            background-color: rgb(117, 68, 68);
            color: white;
            font-size: 1.5rem;
            border: none;
            outline: none;
        }
        
        input {
            padding: 0.5rem;
            width: 100%;
            font-size: 1.5rem;
            outline: none;
        }
        
        @keyframes slidein {
            from {
                /* margin-left: 0%; */
                opacity: 0;
                width: 0%;
                /* transform: scale(1, 1); */
            }
            to {
                /* margin-left: 80%; */
                opacity: 1;
                width: 30%;
            }
        }
        
        .modalContenur.masqer {
            /* animation-duration: 0.4s;
            animation-name: slidein; */
            visibility: visible;
            transition-duration: 1s;
            transform: translateY(0%);
            /* display: block; */
        }
        
        #ajout {
            background-color: green;
            color: white;
            margin-top: 3rem;
        }
        
        form {
            margin-top: 1.5rem;
        }
        
        .fa-delete-left {
            background: linear-gradient( #e0eafc, #cfdef3);
            cursor: pointer;
        }
        
        .titleCol {
            background: linear-gradient( #e0eafc, #cfdef3);
            border: none;
            text-align: center;
            font-size: 0.7em;
            width: 100%;
        }
        
        .titleCol.back {
            background-color: white;
        }
        
        .gestion {
            text-align: center;
            font-size: 2rem;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
        }
        
        .tache {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 5px;
            width: 85%;
            overflow-x: hidden;
            overflow-y: auto;
            box-sizing: border-box;
            height: auto;
            /* background-color: rgba(0, 0, 0, 0.5); */
        }
        
        .flecheContent {
            display: flex;
            align-items: center;
            align-items: center;
            margin-top: 2rem;
            height: 20%;
            box-sizing: border-box;
            width: 100%;
        }
        
        #left,
        #right {
            font-size: 2rem;
            cursor: pointer;
        }
        
        #left.dispa {
            visibility: hidden;
        }
        
        #right.dispa {
            display: none;
        }
        
        #efface.dispa {
            display: none;
        }
        /* .deactive {
            visibility: hidden;
        } */
        
        .colonne:nth-child(5) .flecheContent #left {
            display: none;
            /* visibility: hidden; */
        }
        
        .colonne:last-child .flecheContent #right {
            display: none;
            /* visibility: hidden; */
        }
        /* ****************************************************** */
        
        .confirmation {
            height: 30vh;
            width: 100%;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
            border-radius: 15px;
            /* z-index: 5; */
        }
        
        .message {
            font-size: 2em;
        }
        
        .buttum-modal {
            padding: 1em 2em;
            background-color: red;
            color: white;
            padding: 1em 6em;
            border-radius: 15px;
            font-size: 1em;
            font-weight: bold;
        }
        
        .supprime {
            background-color: green;
        }
        
        .modal-button {
            display: flex;
            justify-content: space-evenly;
            /* border: 2px solid grey;                       */
            width: 100%;
        }
        
        .modal-confirm {
            position: fixed;
            top: 30%;
            left: 30%;
            width: 40%;
            display: none;
        }
        
        .modal-confirm.appelModal {
            display: block;
        }
        /* *******************Taches***************** */
        
        .note {
            border-bottom: 2px solid gray;
            /* background-color: white; */
            background-color: rgba(0, 0, 0, 0.5);
            background-color: white;
            color: black;
            font-weight: bold;
            height: auto;
            /* display: flex;
            justify-content: center; */
        }
        
        .date {
            /* border: 2px solid rebeccapurple; */
            height: 3vh;
            background-color: tomato;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            border-radius: 4px;
        }
        
        .tempsDebut {
            /* border: goldenrod solid 2px; */
            height: 3vh;
            background-color: greenyellow;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            border-radius: 4px;
        }
        
        .tempsFin {
            /* border: goldenrod solid 2px; */
            height: 3vh;
            background-color: red;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            border-radius: 4px;
        }
        
        .info {
            /* background-color: white; */
            /* background-color: rgba(0, 0, 0, 0.5); */
            background-color: black;
            height: 4vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            /* visibility: hidden; */
            /* display: none; */
        }
        
        .info.infoDur {
            display: flex;
        }
        
        .corbeille {
            height: 100%;
            width: 20%;
            background-color: rgba(0, 0, 0, 0.5);
            /* background-color: #0072ff; */
            /* background-color: white; */
            position: fixed;
            left: 0;
            transform: translateX(500%);
            border-right: 3px solid gray;
            border-left: 3px solid gray;
            overflow-y: auto;
        }
        
        .corbeille.afficheCorbeille {
            transition: all 0.5s ease;
            transform: translateX(400%);
        }
        
        .titreCorbeil {
            color: white;
            text-align: center;
            font-size: 1.5em;
            /* margin-top: 2rem;  */
            /* border: 1px solid gray; */
            background-color: rgba(0, 0, 0, 0.8);
        }
        
        #efface {
            /* display: none; */
            position: fixed;
            right: 4%;
            top: 1%;
            background-color: black;
            color: white;
        }
        
        #restaure {
            position: fixed;
            right: 4%;
            top: 22%;
            cursor: pointer;
            /* background-color: ; */
            color: green;
            /* border: 3px solid red; */
        }
        
        #efface.infoDur {
            display: block;
            cursor: pointer;
        }
        /* ************************************************** */
        
        .notification {
            height: 12vh;
            width: 30%;
            background-color: white;
            color: black;
            text-align: center;
            border-radius: 10px;
            position: fixed;
            right: 40%;
            bottom: 40%;
            display: none;
        }
        
        .notifTxt {
            font-size: 2rem;
            font-family: sans-serif;
        }
        
        .notifOk {
            background-color: tomato;
            color: white;
            width: 10%;
            padding: 1rem;
            float: right;
            margin: 1rem;
            cursor: pointer;
        }
        
        .notification.sup {
            display: block;
        }
        
        .save {
            /* transition: all 0.5s ease; */
            background-color: red;
            border: 1px solid white;
        }
        
        .save.color {
            background-color: green;
            border: 1px solid white;
        }
        
        small {
            color: red;
        }