        * {
            box-sizing: border-box;
            margin: 0;
        }
        
        body {
            overflow: hidden;
        }
        
        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            /* background-color: #a9c3c5; */
            background: linear-gradient(#2c3e50, #3498db);
            height: 10vh;
            /* border: 2px ridge rgb(22, 15, 15); */
            /* padding: 1rem; */
        }
        
        .logo {
            height: 80px;
            width: 100px;
            /* border: 2px solid white;  */
            border-radius: 10px;
        }
        
        nav ul {
            /* border: 2px solid red; */
            width: 70vh;
            display: flex;
            justify-content: space-around;
        }
        
        nav ul button {
            margin-right: 1rem;
            font-size: 2rem;
            /* background-color: rgb(42, 162, 192); */
            background: linear-gradient(#2c3e50, #3498db);
            padding: 0.5rem 2.5rem 0.5rem 2.5rem;
            border-radius: 15px;
            color: white;
        }
        /* nav ul li a {
    text-decoration: none;
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    color: white;
    border-radius: 15px;
    padding: 1rem;
} */
        
        nav ul button:hover {
            background: linear-gradient(#a73737, #7a2828);
            /* background-color: rgb(0, 174, 255); */
        }
        
        section {
            background: transparent;
            background: url('java.png') no-repeat center;
            height: 94%;
            background-size: 50%;
            /* border: 3px solid rgb(29, 11, 129); */
            /* width: 40%; */
        }
        
        .contenu {
            /* border: 2px solid rebeccapurple; */
            /* background-image: url("ORDI.jpg"); */
            background: linear-gradient(#2c3e50, #3498db);
            /* background: linear-gradient(#fc00ff, #00dbde); */
            /* background-image: url("https://source.unspalsh.com/random/150*150"); */
            background-size: cover;
            width: 100%;
            height: 90vh;
            display: flex;
            padding-left: 2em;
            background-position: center;
        }
        
        .colonne {
            /* border: 2px solid greenyellow; */
            /* background-color: #a9c3c5; */
            /* display: flex; */
            /* overflow-y: auto; */
            width: 15%;
            height: 80%;
            box-shadow: 0rem 0rem 0.5rem 0.5rem grey;
            /* position: absolute; */
            margin: 1rem;
            border-radius: 15px;
            /* background-image: url('java.png');
    background-repeat: no-repeat; */
        }
        
        .titre {
            text-align: center;
            /* border: 2px solid red; */
            /* background-color: #a9c3c5; */
            font-size: 2rem;
            display: flex;
            justify-content: space-around;
        }
        /*   */
        
        .titreForm {
            background-color: rgb(117, 68, 68);
            /* border: 2px solid red; */
            height: 7vh;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: .8em;
            padding: 1rem;
        }
        
        span {
            font-size: 1em;
            border: 2px solid white;
            padding: 0.5rem;
            background-color: red;
            cursor: pointer;
        }
        
        .modale {
            /* border: 2px solid red; */
            width: 30%;
            background-color: azure;
            /* height: 58vh; */
            height: 80vh;
            border-radius: 15px;
            position: absolute;
            left: 40%;
            margin: 1rem;
            visibility: hidden;
            /* display: block; */
            transform: translateX(-100%);
        }
        
        .modale p {
            font-size: 1.2rem;
            text-align: center;
        }
        
        .corps {
            /* border: 3px solid yellow; */
            display: flex;
            flex-direction: column;
            height: 60vh;
            background-color: white;
            width: 95%;
            margin: 1rem;
        }
        
        .form-controle {
            width: 100%;
            /* border: 3px solid red; */
            margin-top: 1em;
        }
        /* form {
            border: 2px solid blue;
        } */
        
        label {
            font-size: 1.5em;
        }
        
        textarea {
            width: 100%;
        }
        
        input {
            padding: 0.5rem;
            width: 100%;
            /* border: 2px solid red; */
        }
        
        @keyframes slidein {
            from {
                /* margin-left: 0%; */
                opacity: 0;
                width: 0%;
                /* transform: scale(1, 1); */
            }
            to {
                /* margin-left: 80%; */
                opacity: 1;
                width: 30%;
            }
        }
        
        .modale.masqer {
            animation-duration: 0.4s;
            animation-name: slidein;
            visibility: visible;
            /* display: block; */
        }
        
        #ajout {
            background-color: green;
            color: white;
            margin-top: 3rem;
        }
        
        form {
            margin-top: 1.5rem;
        }
        
        .fa-delete-left {
            background: linear-gradient(#00c6ff, #0072ff);
            cursor: pointer;
        }
        
        .titleCol {
            background: linear-gradient(#00c6ff, #0072ff);
            /* background-color: #a9c3c5; */
            border: none;
            text-align: center;
            font-size: 0.7em;
            width: 100%;
        }
        
        .titleCol.back {
            background-color: white;
        }
        
        .gestion {
            text-align: center;
            font-size: 2rem;
            /* background: linear-gradient(#00c6ff, #0072ff); */
            background: linear-gradient(#C04848, #480048);
            color: white;
        }
        
        .tache {
            /* border: 1px solid #2c3e50; */
            /* background-color: white; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* background-color: black; */
            border-radius: 5px;
            width: 100%;
            overflow-x: hidden;
            /* overflow-y: auto;! */
            box-sizing: border-box;
            height: auto;
            /* color: #fff; */
        }
        
        .flecheContent {
            /* background-color: red; */
            /* border: 2px solid blue; */
            display: flex;
            align-items: center;
            align-items: center;
            margin-top: 1rem;
            height: 20%;
            box-sizing: border-box;
            width: 100%;
        }
        
        #left,
        #right {
            font-size: 2 rem;
            cursor: pointer;
        }
        /* .deactive {
            visibility: hidden;
        } */
        
        .colonne:nth-child(4) .flecheContent #left {
            visibility: hidden;
        }
        
        .colonne:last-child .flecheContent #right {
            visibility: hidden;
        }
        /* ****************************************************** */
        
        .confirmation {
            height: 30vh;
            width: 100%;
            /* border: 2px solid red; */
            /* background-color: white; */
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
            border-radius: 15px;
        }
        
        .message {
            font-size: 2em;
        }
        
        .buttum-modal {
            padding: 1em 2em;
            /* background-color: rgba(0, 0, 0, 0.5); */
            background-color: red;
            color: white;
            padding: 1em 6em;
            border-radius: 15px;
            font-size: 1em;
            font-weight: bold;
        }
        
        .supprime {
            background-color: green;
        }
        
        .modal-button {
            display: flex;
            justify-content: space-evenly;
            /* border: 2px solid grey;                       */
            width: 100%;
        }
        
        .modal-confirm {
            position: fixed;
            top: 30%;
            left: 30%;
            width: 40%;
            display: none;
        }
        
        .modal-confirm.appelModal {
            display: block;
        }
        /* *******************Taches***************** */
        
        .note {
            border-bottom: 2px solid gray;
            /* background-color: white; */
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            font-weight: bold;
            height: 12vh;
        }
        
        .date {
            /* border: 2px solid rebeccapurple; */
            height: 3vh;
            background-color: tomato;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            border-radius: 4px;
        }
        
        .tempsDebut {
            /* border: goldenrod solid 2px; */
            height: 3vh;
            background-color: greenyellow;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            border-radius: 4px;
        }
        
        .tempsFin {
            /* border: goldenrod solid 2px; */
            height: 3vh;
            background-color: red;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            border-radius: 4px;
        }
        
        .info {
            /* background-color: white; */
            background-color: rgba(0, 0, 0, 0.5);
            height: 4vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            /* visibility: hidden; */
            display: none;
        }
        
        .info.infoDur {
            display: flex;
        }
        
        .corbeille {
            height: 100%;
            width: 20%;
            background-color: rgba(0, 0, 0, 0.5);
            /* background-color: #0072ff; */
            position: absolute;
            left: 0;
            transform: translateX(500%);
            border-right: 3px solid gray;
            border-left: 3px solid gray;
        }
        
        .corbeille.afficheCorbeille {
            transition: all 0.5s ease;
            transform: translateX(400%);
        }
        
        .titreCorbeil {
            color: white;
            text-align: center;
            font-size: 1.5em;
            /* margin-top: 2rem;  */
            border: 3px solid gray;
        }
        
        #efface {
            display: none;
        }
        
        #efface.infoDur {
            display: block;
            cursor: pointer;
        }